@page
@model Grupe_Elevi.Pages.Elevi.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Elev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Elev.ID" />
            <div class="form-group">
                <label asp-for="Elev.Nume" class="control-label"></label>
                <input asp-for="Elev.Nume" class="form-control" />
                <span asp-validation-for="Elev.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elev.Prenume" class="control-label"></label>
                <input asp-for="Elev.Prenume" class="form-control" />
                <span asp-validation-for="Elev.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elev.CNP" class="control-label"></label>
                <input asp-for="Elev.CNP" class="form-control" />
                <span asp-validation-for="Elev.CNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elev.DataNasterii" class="control-label"></label>
                <input asp-for="Elev.DataNasterii" class="form-control" />
                <span asp-validation-for="Elev.DataNasterii" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elev.ScoalaID" class="control-label">Denumire Scoala</label>
                <select asp-for="Elev.ScoalaID" class="form-control" asp-items="ViewBag.ScoalaID">
                </select>
                <span asp-validation-for="Elev.ScoalaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cls in Model.AssignedClasDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedClase"
                                               value="@cls.ClasaID"
                                               @(Html.Raw(cls.Assigned ? "checked=\"checked\"" : "")) />
                                        @cls.ClasaID @: @cls.NumeClasa
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
